
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div>
            <a class="btn btn-primary" href="/AliVideo/add">添加</a>
        </div>
        <div>
            <table class="table">
                <tr>
                    <td>视频ID</td>
                    <td>视频名称</td>
                    <td>课程类型</td>
                    <td>科目</td>
                    <td>视频大小（M）</td>
                    <td>视频时长</td>
                    <td>播放次数</td>
                    <td>原始地址</td>
                    <td>播放地址</td>
                    <td>上传时间</td>
                    <td>视频状态</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>dfd</td>
                    <td>dfd</td>
                    <td>dfd</td>
                    <td>dfd</td>
                    <td>dfd</td>
                    <td>dfd</td>
                    <td>dfd</td>
                </tr>
            </table>
        </div>

    </div>
</body>
</html>
